<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>52250772216-7ernsqsoprc31dndop2ue04k4lh11314.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52250772216-7ernsqsoprc31dndop2ue04k4lh11314</string>
	<key>API_KEY</key>
	<string>AIzaSyC_eSI1iehjR9q3uPX9S-01jeAQGl2sehM</string>
	<key>GCM_SENDER_ID</key>
	<string>52250772216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neven.First-Chat</string>
	<key>PROJECT_ID</key>
	<string>first-chat-d582b</string>
	<key>STORAGE_BUCKET</key>
	<string>first-chat-d582b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52250772216:ios:53cfb9c651fb09a7</string>
	<key>DATABASE_URL</key>
	<string>https://first-chat-d582b.firebaseio.com</string>
</dict>
</plist>